<div class="profile-header">
  <%= image_tag @user.pic %>
  <div class="name-section">
    <h3><%= @user.name %>
      
      <br><span>You have <%= pluralize(@user.songs.count, 'song') %> and <%= pluralize(@user.playlists.count, 'playlist') %>.</span></h3>
  </div>
 <div class="stats">
   <div class="follow" style="margin-left: 85px">
 		<%= render 'follow_form' if user_signed_in? %>
 	</div>
  <%= render 'shared/stats' %>
  </div>
</div>



<div class="playlists">
  <% if @playlists.empty? %>
  <p style="text-align: center">You have no music. Don't be lame</p>
  <% else %>
  
  <div class="search">
  <%= form_tag user_path(current_user.id), :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search playlists", :name => nil, class: 'search-btn' %>
    </p>
    <%end%>
  </div>
  
    <% @playlists.each do |playlist| %>
    <div class="playlist">
      <h3><%= link_to playlist.title, playlist_path(playlist) %></h3>
      <h4><%= pluralize(playlist.songs.count, 'song') %></h4>
    </div><!-- //playlist -->
  <% end %>
<% end %>
</div><!-- //playlists -->

