<div class="profile-header">
  <%= image_tag @user.pic %>
  <div class="name-section">
    <h3><%= @user.name %><br><span>You have <%= link_to (pluralize(@user.songs.count, 'song')), songs_path %> and <%= link_to (pluralize(@user.playlists.count, 'playlist')), playlists_path %>.</span></h3>
  </div>
 <div class="stats">
        <%= render 'shared/stats' %>
      </div>
  <div class="follow">
		<%= render 'follow_form' if user_signed_in? %>
	</div>
</div>



<div class="playlists">
  <% if @playlists.empty? %>
  <p>You have no music. <%= link_to 'Add some', new_song_path %></p>
  <% else %>
  
  <div class="search">
  <%= form_tag user_path(current_user.id), :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search playlists", :name => nil, class: 'search-btn' %>
    </p>
    <%end%>
  </div>
  
    <% @playlists.each do |playlist| %>
    <div class="playlist">
      <h3><%= link_to playlist.title, playlist_path(playlist) %></h3>
      <h4><%= pluralize(playlist.songs.count, 'song') %></h4>
    </div><!-- //playlist -->
  <% end %>
<% end %>
</div><!-- //playlists -->

