<% if user_signed_in? %>
<div class="search-bar">
  <%= form_tag users_path, :method => 'get' do %>
	    <%= text_field_tag :search, params[:search], placeholder: "Search users...", :autocomplete => "off" %>
	<% end %>
</div>
<ul>
  <li>
    <%= link_to 'My Feed', feed_path %>
    <%= link_to 'My songs', songs_path %>
  	<%= link_to current_user.name, current_user %> <%= link_to 'Logout', signout_path %>        
  </li>
</ul>
<% end %>

<script>
	$(function() {
		var availableTags = [
			<% User.all.each do |user| %>
				"<%= user.name %>"
				<% if user != User.all.last %>,<% end %>
			<% end %>
		];
		$( "#search" ).autocomplete({
			source: availableTags
		});
	});
</script>


