<header>
	<h1>Musicbox</h1>
</header>


<div class="feed">
  <% @feed_items.each do |item| %>
  <div class="feed_item">
    <% artist = Rockstar::Artist.new(item.artist, :include_info => true) %>
    <%= image_tag artist.images['medium'] %>
    <div class="item-details">
      <h3><%= item.name %></h3>
      <p><%= item.artist %><p>
  		<h5>  
  		  <span>Added by:</span> <%= link_to item.user.name, user_path(item.user) %> 
  		  <% if item.playlists.any? %>
  		    <span> to:</span>
  		    <% item.playlists.each do |playlist| %>
  		    <%= link_to playlist.title, playlist_path(playlist) %>
  		    <% end %>
  		  <% end %>
  		  </h5>
		</div><!-- //item-details -->
	</div><!-- //feed_item -->
<% end %>
</div><!-- //feed -->

