<header>
<h1>Musicbox</h1>
</header>

<div class="search">
<%= form_tag songs_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search your songs", :name => nil %>
  </p>
<% end %>
</div>

<div class="songs">
  <% @songs.each do|song| %>
  <div class="song">
		<% artist = Rockstar::Artist.new(song.artist, :include_info => true) %>
    <h3><%= song.name %></h3>
    <h4><%= link_to song.artist, artist.url %></h4>
		<h6>Tagged by: <%= link_to current_user.name, user_path(current_user) %></h6>
		<%= image_tag artist.images['medium'] %>
		<a id="<%= song.id %>" class= "play">></a> <a id="<%= song.id %>" class="pause">||</a>
		<span><%= link_to "Delete Song",song_path(song.id),:confirm=>"Delete this song?",  :method=>:delete%></span>
  </div><!-- //song -->
<% end %>
</div><!-- //songs -->

<div class="new-song" style="width: 100px; margin: auto">
  <%= link_to "Add a Song", new_song_url %>
</div>

<script type="text/javascript">

var song_links = [ 
		<% @songs.each do |song| %>
			{
				id: "<%= song.id %>",
				link: "<%= song.link %>"
		  }
			<% if song != @songs.last %>,<% end %>
		<% end %>
];

$('.play').click(function(){
	var id = $(this).attr('id');
	var source = "";
	var len = song_links.length;
	
	for(var i=0; i < len; i++){
		if (song_links[i]['id'] == id){
			source = song_links[i]['link'];
		}
	}
	
	var audioElement = document.createElement('audio');
	audioElement.setAttribute('id', 'player');
	audioElement.setAttribute('src', source);
	audioElement.play();
	
});

$('.pause').click(function(){
	var audioElement = document.getElementById('player');
	audioElement.pause();
	console.log('hello');
});




</script>




