
<div id="new-form">
<%= form_for(@song) do|form|%>

	 <%= form.hidden_field :user_id, :value=>current_user.id%>
	 <div class="field">
	 <%= form.label :name, "Song Name:"%>
	 </div>
	 <div class="field">
	 <%= form.text_field :name, :value => params[:name] %>
	 </div>
	 <div class="field">
	 <%= form.label :artist, "Artist:"%>
	 </div>
	 <div class="field">
	 <%= form.text_field :artist, :value => params[:artist] %>
	 </div>
	 <div class="field">
	 <%= form.label :link, "Link:"%>
	 </div>
	 <div class="field">
	 <%= form.text_field :link, :value => params[:link] %>
	 </div>
	
	 <div class="field">
	 <%= label_tag 'Playlist: ' %>
	 </div>
	 <div class="field">
	 <%= text_field_tag :playlist, nil, :id => "playlist", :placeholder => 'Type in a list dude...', :autocomplete => 'off' %>
	 </div>

	
	<%= form.submit "Add Song", id: 'add-song-btn' %>

	
<% end %>
</div>

<script>
	$(function() {
		var availableTags = [
			<% current_user.playlists.each do |playlist| %>
				"<%= playlist.title %>"
				<% if playlist != current_user.playlists.last %>,<% end %>
			<% end %>
		];
		$( "#playlist" ).autocomplete({
			source: availableTags
		});
	});
	</script>