<h1> Submit a song </h1>

<%= form_for(@song) do|form|%>

	 <%= form.hidden_field :user_id, :value=>current_user.id%>
	 <%= form.label :name, "Song Name:"%>
	 <%= form.text_field :name%><br>
	
	 <%= form.label :artist, "Artist:"%>
	 <%= form.text_field :artist%><br>
	
	 <%= form.label :link, "Link:"%>
	 <%= form.text_field :link, :value => params[:link] %><br>
	
	 <%= label_tag 'Playlist: ' %>
	 <%= text_field_tag :playlist, nil, :id => "playlist", :placeholder => 'Type in a list dude...', :autocomplete => 'off' %><br />

	
	<%= form.submit %>

	
<% end %>

<script>
	$(function() {
		var availableTags = [
			<% current_user.playlists.each do |playlist| %>
				"<%= playlist.title %>"
				<% if playlist != current_user.playlists.last %>,<% end %>
			<% end %>
		];
		$( "#playlist" ).autocomplete({
			source: availableTags
		});
	});
	</script>