<head>
	<style type="text/css">
	.about_page{padding:10px}
	
	h2 {

		}
	.describe{
		color:gray;
		padding:10px;
	}

	p {display:in-line;
		margin:10;
		}
	img {margin:10px;
			height:120px;
			width:150px;
			float:left;
			border-radius:10px;
			}
	</style>
	</head>

<div class="about_page">
<h2>About Us</h2>

	<div class="describe">TheMusicBox was created by a group of music lovers who thought it should be easier to find and share your music with friends.
	</div>

	<div class="Ralph" style="overflow:hidden">
		<%=image_tag 'Ralph.jpg'%>
		<p> Ralph does all kinds of crazy things!<br/>
			<%= link_to "@ralphwintle", "https://twitter.com/ralphwintle"%></p>
	</div>
	<hr>
	
	<div class="Brendan" style="overflow:hidden">	
		<%=image_tag 'Brendan.jpg'%>
		<p> But not as crazy as this bat!<br/>
			<%= link_to "@bhenney", "https://twitter.com/#!/bhenney" %></p>
	</div>
	<hr>
		
	<div class="Tolu" style="overflow:hidden">
		<%=image_tag 'Tolu.jpg'%>
		<p> Weeeeeee!<br/>
			<%= link_to "@Tolu_Bu", "https://twitter.com/Tolu_Bu"%></p>
		</div>
