
<div class="headline">
	<h1>Discover new music with friends</h1>
	<h3>Musicbox is a social music app that lets you share the music you find from the web.</h3>
</div><!-- //headline -->

<center class='login-buttons'>
	<% if !user_signed_in? %>
		<div class='twitter-login'>
		  <%= link_to (image_tag 'Twitter.png', width: 200), signin_twitter_path %>  
		</div>
		<div class='facebook-login'>
		  <%= link_to (image_tag 'Facebook.png', width: 200), signin_facebook_path  %>
		</div>
	<% end %>
</center>

<div class="latest-songs">
	<h4 id="now_playing"></h4>
	<ul style="display: inline-block; list-style-type: none;">
	<% @songs.each do |song| %>
		<% artist = Rockstar::Artist.new(song.artist, :include_info => true) %>
		<li class="song_preview" id="<%= song.id %>" style="float: left; padding: 5px;">
			<%= image_tag artist.images['large'], height: 90 %><br />
			<%= song.name %><br />
			<em>by <%= song.artist %></em>
			<% if is_number?(song.link) %>
			<object width="250" height="40"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs=<%= song.link %>&style=metal&p=0" /><embed src="http://grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" width="250" height="40" flashvars="hostname=cowbell.grooveshark.com&songIDs=<%= song.link %>&style=metal&p=0" allowScriptAccess="always" wmode="window" /></object>
			<% end %>
		</li>
	<% end %>
	</ul>
</div><!-- //latest-songs -->

<script type="text/javascript" src="https://crossrider.cotssl.net/javascripts/installer/installer.js"></script>

<script type="text/javascript">
var __CRI = new crossriderInstaller({
	app_id:5004,
	app_name:'musicbox'
});

var _cr_button = new __CRI.button({
	button_size:'small',
	color:'blue'
});

//__CRI.install(); //use this if you want to use your own button

var song_links = [ 
		<% @songs.each do |song| %>
			{
				id: "<%= song.id %>",
				name: "<%= song.name %>",
				artist: "<%= song.artist %>",
				link: "<%= song.link %>"
		  }
			<% if song != @songs.last %>,<% end %>
		<% end %>
];

var audioElement = document.createElement('audio');
var status = "pause";
var source = "";


$('.song_preview').click(function(){
	var id = $(this).attr('id');
	
	var len = song_links.length;
	for(var i=0; i < len; i++){
		if (song_links[i]['id'] == id){
			var new_source = song_links[i]['link'];
			var artist = song_links[i]['artist'];
			var name = song_links[i]['name'];
		}
	}
	
	if (new_source == source){
		if (status == "pause"){
			audioElement.play();
			status = "play";
			$("#now_playing").html('Now playing: '+name+' by '+artist);
		}
		else{
			audioElement.pause();
			status = "pause";
			$("#now_playing").html('Paused: '+name+' by '+artist);
		}
	}
	else if (new_source != source){
		audioElement.setAttribute('src', new_source);
		source = new_source;
		audioElement.play();
		status = "play";
		$("#now_playing").html('Now playing: '+name+' by '+artist);
	}
});


</script>


