<div class="songs">
	<h3>Here's your <em><%= @playlist.title %></em> playlist</h3>
	<center class="song">
		<object width="250" height="250"><param name="movie" value="http://grooveshark.com/widget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs=<%= @songs_string %>&bbg=474747&bth=B4D5DA&pfg=ffffff&lfg=B4D5DA&bt=813B45&pbg=813B45&pfgh=813B45&si=813B45&lbg=813B45&lfgh=813B45&sb=813B45&bfg=B1BABF&pbgh=B1BABF&lbgh=B1BABF&sbh=B1BABF&p=0" /><embed src="http://grooveshark.com/widget.swf" type="application/x-shockwave-flash" width="250" height="250" flashvars="hostname=cowbell.grooveshark.com&songIDs=<%= @songs_string %>&bbg=474747&bth=B4D5DA&pfg=ffffff&lfg=B4D5DA&bt=813B45&pbg=813B45&pfgh=813B45&si=813B45&lbg=813B45&lfgh=813B45&sb=813B45&bfg=B1BABF&pbgh=B1BABF&lbgh=B1BABF&sbh=B1BABF&p=0" allowScriptAccess="always" wmode="window" /></object>
	</center>
  <% @songs.each do |song| %>
  <div class="song">
    <% artist = Rockstar::Artist.new(song.artist, :include_info => true) %>
    <h3><%= song.name %></h3>
    <h4><%= link_to song.artist, artist.url %></h4>
		<%= image_tag artist.images['large'] %>
    <h6>Tagged by: <%= link_to current_user.name, user_path(current_user) %></h6>
    <% if is_number?(song.link) %>
						        <object width="250" height="40"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs=<%= song.link %>&style=metal&p=0" /><embed src="http://grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" width="250" height="40" flashvars="hostname=cowbell.grooveshark.com&songIDs=<%= song.link %>&style=metal&p=0" allowScriptAccess="always" wmode="window" /></object>
		<% else %>
			<%= image_tag "http://marketingtech101.com/images/play-button-1.png", :class => "song_control", :id => "#{song.id}", :style => 'max-width: 50px;' %>
		<% end %>
  </div><!-- //song -->
<% end %>
</div><!-- //songs -->

<script type="text/javascript">

var song_links = [ 
		<% @songs.each do |song| %>
			{
				id: "<%= song.id %>",
				name: "<%= song.name %>",
				artist: "<%= song.artist %>",
				link: "<%= song.link %>"
		  }
			<% if song != @songs.last %>,<% end %>
		<% end %>
];

var audioElement = document.createElement('audio');
var status = "pause";
var source = "";
var play_src = "http://marketingtech101.com/images/play-button-1.png";
var pause_src = "http://cdn1.iconfinder.com/data/icons/defaulticon/icons/png/256x256/media-pause.png";
var id = "";

$('.song_control').click(function(){
	var new_id = $(this).attr('id');
	
	var len = song_links.length;
	for(var i=0; i < len; i++){
		if (song_links[i]['id'] == new_id){
			var new_source = song_links[i]['link'];
			var artist = song_links[i]['artist'];
			var name = song_links[i]['name'];
		}
	}
	
	if (new_source == source){
		if (status == "pause"){
			audioElement.play();
			status = "play";
			$('#'+id).attr('src', pause_src);
			$("#now_playing").html('Now playing: '+name+' by '+artist);
		}
		else{
			audioElement.pause();
			status = "pause";
			$('#'+id).attr('src', play_src);
			$("#now_playing").html('Paused: '+name+' by '+artist);
		}
	}
	else if (new_source != source){
		audioElement.setAttribute('src', new_source);
		source = new_source;
		audioElement.play();
		status = "play";
		$('#'+new_id).attr('src', pause_src);
		$("#now_playing").html('Now playing: '+name+' by '+artist);
		$('#'+id).attr('src', play_src);
		id = new_id;
	}
});




</script>
