<!DOCTYPE html>
<html>
<head>
  <title>Musicbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="hmenu">
  <%= render 'shared/navigation' %>
</div>

<div class="wrapper">
  <div class="container">
    <div class="main">
      <%= render 'shared/header' %>
      <%= yield %>
    </div><!-- //main -->
		<!--<center id="crossriderInstallButton"></center>-->
  </div><!-- //container -->
</div><!-- //wrapper -->
</body>
<footer>
<%= link_to "About Us", about_us_url %>
</footer>
</html>
